body{
    margin: 0%;
    padding: 0%;
    min-height: 100vh;
    background: linear-gradient(80deg, black, rgb(95, 1, 95));
    overflow: hidden;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icons{
    width: 200px;
    float: left;
    height: 70px;

}

.logo{
    color: red;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 7px;
}
   
.menu{ 
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
 
ul li{
   list-style: none;
   margin-left: 62px;
   margin-top: 17px;
   font-size: 14px; 
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.2s ease-in-out;

} 

ul li a:hover{
    color: black;
}

.Search{
    width: 330px;
    float: left;
    margin-left: 270px;
    margin-top: 7px;

}
.srch{
    font-family: 'Courier New';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid white;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width:  100px ;
    height: 40px;
    background: #ff7200;
    border: 2px solid white;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px   ;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}

.content{
    width: 1200PX;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
} 
.content h1{
    font-family: georgia;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px ;
    height: 40px;
    background: #ff7200;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 20px;
    transition: .2s ease-in;
}

.content .cn a{
    text-decoration: none;
    color: black;
    transition: 3s ease-in-out;
}

.cn:hover{
    background-color: white;
}
 .content span{
    color: #ff7200;
    font-size:60px ;
 }



.box .card{
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    width: 350px;
    height: 480px;
    top: -20px;
    left: 770px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    box-shadow: 0 15px 25px ;
    transform-style: preserve-3d ;
}